.footer_container {
  height: 42vh;
  width: 100%;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10px;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 16px;
    color: rgb(62, 62, 204);
    font-weight: 400;
    font-family: var(--font-lato);
  }

  button {
    background-color: transparent;
    border: none;
  }
}

.links_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.footer_icon {
  font-size: 30px;
}

.footer_details {
  width: 50%;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    color: rgb(62, 62, 204);
    font-family: var(--font-lato);
    font-weight: 700;
  }

  p {
    font-size: 16px;
    color: rgba(41, 41, 41, 0.796);
    font-family: var(--font-lato);
    font-weight: 400;
  }
}

.footer_contact {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  flex-direction: column;
}

.contact_icon_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer_icon {
  font-size: 24px;
  color: rgba(41, 41, 41, 0.796);
}

.footer_navigation {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  flex-direction: column;
}

.footer_nav_links {
  text-decoration: none;
  color: rgba(41, 41, 41, 0.796);
  transition: 0.4s ease-in-out;
  font-family: var(--font-lato);
  font-weight: 400;
}

.footer_nav_links:hover {
  transform: translateX(9px);
  transition: 0.4s ease-in-out;
  color: rgb(62, 62, 204);
  font-weight: 700;
}

.footer_copy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-top: 1px solid black;
  padding: 20px 0px 0px 0px;
}
