.landing_container {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.landing_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 92px;
  color: white;
  font-weight: 300;
  font-family: var(--font-lato);
  letter-spacing: 10px;
}
