.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.241);
  //   background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

.inner_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 8rem;
}

.nav_links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.link {
  //   color: rgb(51, 51, 201);
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
}

.link:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  border-radius: 5px;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.link:hover::before {
  width: 100%;
}

.navbar_With_Bg {
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;

  .link {
    color: rgb(62, 62, 204);
  }

  .link:before {
    content: "";
    background: rgb(62, 62, 204);
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 4px;
    transition: all 0.3s ease-in-out;
  }

  .link:hover {
    background-position: 0;
  }

  .link:hover::before {
    width: 100%;
  }
}

.language_icon {
  font-size: 24px;
  color: white !important;
}

.menu {
  display: flex !important;
  justify-content: space-between !important;
}

.flag_icon {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}
